		.dragarea{
			border: 8px #ddd dashed;
			border-radius: 6px;
			width: 250px;
			height: 250px;
			position: absolute;
			left: 50%;
			top: 80px;
			margin-left: -125px;
			line-height: 250px;
			font-size: 16px;
			color: #ccc;
			font-weight: bold;
			font-family: helvitica Nueue, Microsoft yahei;
			text-align: center;
		}
		.dragarea-on{
			color: #999;
			border: 8px #aaa dashed;
		}
		h1.title{
			text-align: center;
			font-family: helvitica Nueue, Microsoft yahei;
			color: #000;
			font-weight: normal;
			font-size: 18px;
			line-height: 40px;
			padding: 0;
			margin: 0;
		}
		p.desc{
			font-size: 12px;
			text-align: center;
			color: #999;
			padding: 0;
			margin: 0;
		}



/* photon.css custom */

		.nav-group-item:hover {
			background-color: #e8e6e8;
		}

		/**
		 * 拖拽元素上的删除按钮
		 */
		.draggable-item {
			position: relative;
		}
		.draggable-item .icon-delete-action {
			position: absolute;
			top: 15px;
			right: 5px;
			width: 15px;
			height: 15px;
			font-size: 15px;
			line-height: 15px;
			text-align: center;
			color: #666;
			opacity: 0;
			transition: opacity .1s linear,background-color .1s linear;
			border-radius: 3px;
			transform: translateY(-50%);
			z-index: 10;
		}
		.draggable-item:hover .icon-delete-action {
			opacity: 1;
		}
		.draggable-item .icon-delete-action:hover {
			background-color: rgba(0,0,0,.08);
		}

		/**
		 * 操作禁选状态
		 */
		 .nav-group.disabled .nav-group-item,
		 .nav-group-item.disabled, 
		 .nav-group-item.disabled:hover, 
		 .nav-group-item.disabled:active {
		 	color: #b8b6b8;
		 	background-color: transparent;
		 }