<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Splice</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="./css/photon.min.css">
  <link rel="stylesheet" href="./node_modules/dragula/dist/dragula.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <!-- All of the Node.js APIs are available in this renderer process. -->
  <!-- We are using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>. -->
  <div class="window" id="app">
    <!-- .toolbar-header sits at the top of your app -->
    <header class="toolbar toolbar-header">
      <h1 class="title">Splice</h1>
    </header>
    <!-- Your app's content goes inside .window-content -->
    <div class="window-content">
      <div class="pane-group">
        <div class="pane pane-sm sidebar">
          <template v-for="(category, cIndex) in actions">
            <nav class="nav-group" :class="{'disabled': (!!currentCategory && (category.name !== currentCategory) && (category.name !== '通用') && (currentCategory !== '通用'))}">
              <h5 class="nav-group-title">{{ category.name }}</h5>
              <template v-for="(action, aIndex) in category.list">
                <span class="nav-group-item" :class="{'disabled': action.disabled}" @click="addToCurrent(category, action, [cIndex, aIndex])">
                  <span :class="'icon icon-'+action.icon"></span> {{ action.name }}
                </span>
              </template>
            </nav>
          </template>
        </div>
        <!-- 操作编辑栏 -->
        <div class="pane pane-sm">
          <nav class="nav-group" id="draggable">
            <template v-for="(action, index) in currentActions">
              <span class="nav-group-item draggable-item">
                <span :class="'icon icon-'+action.action.icon"></span> {{ action.action.name }}
                <span class="icon icon-cancel icon-delete-action" @click="deleteAction(action, index)"></span>
              </span>
            </template>
          </nav>
        </div>
        <div class="pane">
          <h1 class="title">操作 {{ currentCategory }} 文件</h1>
          <!-- todo:  拖拽排序-->
          <p>当前操作：
            <span v-for="(action, index) in currentActions">{{ action.action.name + ((currentActions.length !== (index+1))?" > ":"")}}</span>
          </p>
          <p class="desc">＊用法：拖拽CSS文件到下面的线框中，会自动生成名字'-result'的结果css，支持多个文件。
          </p>
          <div class="dragarea j-dragarea">
            拖拽文件到这里
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="./js/jquery-1.8.2.js"></script>
  <script type="text/javascript" src="./js/vue.js"></script>
  <script type="text/javascript" src="./node_modules/dragula/dist/dragula.min.js"></script>
  <script type="text/javascript" src="./js/index.js"></script>
</body>
<script>
// You can also require other files to run in this process
// require('./js/index.js')
</script>

</html>